body {
    font-family: Arial;
    margin: 0;
    background: #AABD85;
}

.container {
    width: 100%;
    margin: auto;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease, transform 0.7s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
/* NAVBAR */

.logo img {
    height: 50px;
    width: auto;
}

.navbar {
    background: linear-gradient(to right,
            #EAE7E2,
            #F9FBF5,
            #E5E6E0);
    padding: 10px 0 3px 30px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: visible;
}

.hero {
    margin-top: -20px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu li {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: #457431;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-weight: 500;
    transition: all 0.25s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu a:hover {
    background: linear-gradient(to top,
            rgba(101, 208, 55, 0.6) 0%,
            rgba(130, 202, 100, 0.35) 35%,
            rgba(108, 173, 81, 0.12) 70%,
            rgba(81, 189, 39, 0) 100%);
    color: #457431;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-2px);
}

.menu a.active {
    color: #457431;
    font-weight: 900;
}

/* HERO */

.hero {
    margin-top: -20px;
    padding-top: 50px;

    height: 400px;

    background-image: url('../images/beranda.png');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
.hero-overlay{
    width: 100%;
    height: 100%;

    background: linear-gradient(
        to right,
        rgba(0,0,0,0.85) 0%,
        rgba(0,0,0,0.65) 30%,
        rgba(0,0,0,0.35) 50%,
        rgba(0,0,0,0.1) 70%,
        rgba(0,0,0,0) 100%
    );

    display: flex;
    align-items: center;
}

.hero-content{
    color: white;
    max-width: 550px;
    margin-left: 80px;
    margin-top: 20px
}

.hero-content h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #F9FBF5;
    text-align: justify;
}

.hero-btn{
    display: flex;
    gap: 15px;
}

.btn-outline{
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-outline:hover{
    background: white;
    color: #3d6b2f;
}

/* ABOUT */
.about-preview {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 80px 0px;
    background: #F9F8F2;
    max-width: 100%;
    margin: auto;
}

.about-img img {
    width: 300px;
    margin-left: 80px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease;
}

.about-text h2,
p {
    color: #4a5f3b;
    line-height: 1.7;
    max-width: 520px;
    text-align: justify;
}

.btn {
    display: inline-block;
    background: #43752E;
    color: white;
    padding: 12px 26px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.25s ease;
}

.btn:hover {
    background: #43752E;
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

/* PRODUK */
.produk {
    background: #EEF3DD;
    padding: 30px 0;
    text-align: center;
    color: #4a5f3b;
    align-items: center;
}

.produk-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;

    padding: 20px;
    scroll-behavior: smooth;
}

.produk-grid::-webkit-scrollbar {
    display: none;
}

.produk-card {
    width: 220px;
    flex: 0 0 auto;
    background: #F9F9F1;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.produk-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.produk-more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-btn {
    text-decoration: none;
    background: #457431;
    color: white;
    padding: 14px 22px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.25s;
}
.more-btn:hover {
    background: #365a25;
    transform: translateX(4px);
}


/* JAMINAN */
.jaminan {
    text-align: initial;
    padding: 60px 20px;
    color: #4a5f3b;
}

/* GRID JAMINAN */
.jaminan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

/* CARD JAMINAN */
.jaminan-card {
    background: white;
    border-radius: 15px;
    padding: 50px 40px; /* kiri kanan diperbesar */
    text-align: left;
}

/* GAMBAR */
.jaminan-card img {
    width: 90%;
    /* otomatis ikut ukuran card */
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
    /* supaya tetap di tengah */
}

/* JUDUL */
.jaminan-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 30px;     /* geser dari kiri & kanan */
    text-align: left;
}

/* DESKRIPSI */
.jaminan-card p {
    font-size: 14px;
    color: #555;
    padding: 0 30px;     /* samakan dengan judul */
    text-align: justify; /* boleh justify biar rapi */
    line-height: 1.6;
}

/* FOOTER */
.footer {
    background: #3d6b2f;
    color: #ffffff;
    padding: 20px 60px;   
    font-size: 12px;    
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.footer h4 {
    color: #ffffff;
    margin-bottom: 12px;
    font-size: 16px;
}

.footer p,
.footer li {
    color: #ffffff;
    padding-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #dfe7c6;
}

.copyright {
    margin-top: 25px;
    font-size: 13px;
    color: #ffffff;
}

/* WHATSAPP */

.wa-button {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 60px;
    height: 60px;

    background: #e6f3dc;   /* warna lingkaran cerah */
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.wa-button img {
    width: 40px;
}

/* Detail Produk */
.detail-hero {
    background: #3d6b2f;
    margin-top: -15px;
    /* tarik ke atas */
    padding: 10px 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.detail-container {
    background: #d7e0bf;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.detail-card {
    width: 1100px;
    background: #f6efe9;
    border-radius: 20px;
    padding: 40px;

    display: flex;
    gap: 40px;
}

.detail-image {
    width: 50%;
}

.main-img {
    width: 100%;
    border-radius: 15px;
}

.thumbnail {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.thumbnail img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}

.detail-info {
    width: 50%;
}

.detail-info h2 {
    color: #3d6b2f;
    font-size: 26px;
}

.harga {
    color: #3d6b2f;
    margin: 10px 0 20px;
}

.size-produk {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.size-produk span {
    background: #3d6b2f;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.wa-order {
    margin-top: 30px;
    background: #dfe7c6;
    padding: 15px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.wa-order img {
    width: 35px;
}

.wa-order {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background: #e6f0e0;
    padding: 12px;
    border-radius: 10px;
}

.wa-order p {
    color: #2f5b2f;
    font-weight: 500;
}

/* TENTANG KAMI */

.about-section {
    margin-top: -20px;
    padding: 120px 80px;
    background: #ffffff;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

/* kiri */
.about-image {
    width: 100%;
    height: 260px;
    background: #78b06b;
    border-radius: 10px;
}

/* kanan */
.about-right h1 {
    font-size: 40px;
    color: #3d5f2c;
    margin-bottom: 20px;
    text-align: justify;
}

.about-right p {
    line-height: 1.8;
    color: #4a5f3b;
    margin-bottom: 20px;
}


/* LOKASI */

.lokasi-container {
    margin-top: 80px;
}

.lokasi-container h2 {
    font-size: 26px;
    color: #3d5f2c;
    margin-bottom: 10px;
}

.lokasi-container p {
    margin-bottom: 30px;
}

.lokasi-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.maps {
    height: 220px;
    background: #c7a6a6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-lokasi {
    height: 220px;
    background: #c7a6a6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PRODUK */

.produk-section {
    margin-top: -100px;
    padding: 120px 0px;
    background: linear-gradient(to top,
            #F9F8F2 0%,
            #EBECE6 20%,
            #AABD85 65%,
            #457431 100%);
}

.produk-title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    padding: 30px;
    /* jarak kiri kanan */
}

.produk-title h1 {
    font-size: 36px;
    color: #F9F8F2;

}

.line {
    flex: 1;
    height: 3px;
    background: #F9F8F2;
}


/* GRID PRODUK */
.produk-page .produk-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    max-width: 1200px;
    margin: auto;

}

/* BUTTON */

.btn-detail {
    display: inline-block;
    padding: 6px 14px;
    background: #43752E;
    color: white;
    border-radius: 6px;
    font-size: 13px;
    text-decoration: none;
}

.btn-detail:hover {
    background: #264a16;
}


/* Galeri */
.galeri-section {
    margin-top: -80px;
    /* tarik ke atas */
    padding: 120px 0 80px;
    background: linear-gradient(to bottom,
            #457431 0%,
            #AABD85 40%,
            #EBECE6 75%,
            #F9F8F2 100%);
}

.judul-galeri {
    color: white;
    font-weight: bold;
    font-size: 40px;
    /* memperbesar ukuran teks */
    text-align: center;
    /* membuat teks di tengah */
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.galeri-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.galeri-item {
    overflow: hidden;
    border-radius: 12px;
}

.galeri-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: 0.4s; */
}

.galeri-item:hover img {
    transform: scale(1.08);
}

/* ukuran berbeda seperti desain */
.besar {
    grid-column: span 2;
    height: 250px;
}

.tinggi {
    grid-row: span 2;
    height: 520px;
}

.lebar {
    grid-column: span 2;
    height: 200px;
}

.galeri-item:not(.besar):not(.tinggi):not(.lebar) {
    height: 240px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: #457431;
    border-radius: 10px;
    transition: 0.3s;
}