body {
    font-family: Arial;
    margin: 0;
    background: #f3f3f3;
}

.container {
    width: 90%;
    margin: auto;
}


/* NAVBAR */

.logo img {
    height: 50px;
    width: auto;
}

.navbar {
    background: #cfd8b8;
    padding: 10px 0;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.hero {
    margin-top: -20px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border-radius: 10px;
    transition: 0.3s;
}

/* Hover */
.menu a:hover {
    background: #5a8f3d;
    color: white;
}

/* Menu aktif */
.menu a.active {
    background: #5a8f3d;
    color: white;
}


/* HERO */

.hero {
    margin-top: -20px;
    padding-top: 60px;

    height: 500px;

    background-image: url('../images/beranda.png');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.search-box {
    background: #9fb57a;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
}

.search-box input {
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}

.search-box button {
    background: #3d6b2f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}


/* ABOUT */

.about-preview {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}

.about-img img {
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.btn {
    background: #3d6b2f;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}


/* PRODUK */
/* PRODUK */

.produk-section {
    background: #e6f1d6;
    padding: 60px 0;
    text-align: center;
}

.produk-grid {
    display: flex;
    flex-wrap: nowrap;        /* penting supaya tidak turun ke bawah */
    gap: 20px;

    overflow-x: auto;         /* aktifkan scroll horizontal */
    overflow-y: hidden;

    padding: 20px;
    scroll-behavior: smooth;
}

.produk-grid::-webkit-scrollbar {
    display: none;
}

.produk-card {
    width: 300px;
    flex: 0 0 auto;   /* supaya card tidak menyusut */

    background: #f2e4d7;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.produk-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* JAMINAN */

.jaminan {
    text-align: center;
    padding: 60px 20px;
}

/* GRID JAMINAN */
.jaminan-grid {
    display: grid;
    grid-template-columns: repeat(3, 450px); 
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

/* CARD JAMINAN */
.jaminan-card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

/* GAMBAR */
.jaminan-card img {
    width: 90%;      /* otomatis ikut ukuran card */
    height: auto;
    display: block;
    margin: 0 auto 15px auto; /* supaya tetap di tengah */
}

/* JUDUL */
.jaminan-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* DESKRIPSI */
.jaminan-card p {
    font-size: 14px;
    color: #555;
}

/* FOOTER */

.footer {
    background: #3d6b2f;
    color: white;
    padding: 40px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.footer h4{
    margin-bottom: 15px;
}

.footer ul li{
    margin-bottom: 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

/* saat cursor diarahkan */
ul li a:hover {
    color: #6c7f39;
}

/* saat diklik */
ul li a:active {
    color: #4f5f28;
}

.copyright {
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
}


/* WHATSAPP */

.wa-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.wa-button img {
    width: 60px;
}

/* Detail Produk */
.detail-hero {
    background: #6c7f39;
    margin-top: -15px;/* tarik ke atas */
    padding: 10px 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.detail-container {
    background: #d7e0bf;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.detail-card {
    width: 1100px;
    background: #f6efe9;
    border-radius: 20px;
    padding: 40px;

    display: flex;
    gap: 40px;
}

.detail-image {
    width: 50%;
}

.main-img {
    width: 100%;
    border-radius: 15px;
}

.thumbnail {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.thumbnail img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}

.detail-info {
    width: 50%;
}

.detail-info h2 {
    color: #5a6a2c;
    font-size: 26px;
}

.harga {
    color: #5a6a2c;
    margin: 10px 0 20px;
}

.size-produk {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.size-produk span {
    background: #6c7f39;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.wa-order {
    margin-top: 30px;
    background: #dfe7c6;
    padding: 15px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.wa-order img {
    width: 35px;
}

.wa-order {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background: #e6f0e0;
    padding: 12px;
    border-radius: 10px;
}

.wa-order p {
    color: #2f5b2f;
    font-weight: 500;
}

/* TENTANG KAMI */

.about-section {
    padding: 120px 80px;
    background: #ffffff;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

/* kiri */
.about-image {
    width: 100%;
    height: 260px;
    background: #78b06b;
    border-radius: 10px;
}

/* kanan */
.about-right h1 {
    font-size: 40px;
    color: #3d5f2c;
    margin-bottom: 20px;
}

.about-right p {
    line-height: 1.8;
    color: #4a5f3b;
    margin-bottom: 20px;
}


/* LOKASI */

.lokasi-container {
    margin-top: 80px;
}

.lokasi-container h2 {
    font-size: 26px;
    color: #3d5f2c;
    margin-bottom: 10px;
}

.lokasi-container p {
    margin-bottom: 30px;
}

.lokasi-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.maps {
    height: 220px;
    background: #c7a6a6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-lokasi {
    height: 220px;
    background: #c7a6a6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PRODUK */

.produk-section {
    margin-top: -100px;
    padding: 120px 0px;
    background: linear-gradient(to bottom,
            #F9F8F2 0%,
            #EBECE6 40%,
            #AABD85 75%,
            #457431 100%);
}

.produk-title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    padding: 30px;       /* jarak kiri kanan */
}

.produk-title h1 {
    font-size: 36px;
    color: #3d5f2c;

}

.line {
    flex: 1;
    height: 3px;
    background: #3d5f2c;
}


/* GRID PRODUK */
.produk-page .produk-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    max-width: 1200px;
    margin: auto;
    
}

/* BUTTON */

.btn-detail {
    display: inline-block;
    padding: 6px 14px;
    background: #556b2f;
    color: white;
    border-radius: 6px;
    font-size: 13px;
    text-decoration: none;
}

.btn-detail:hover {
    background: #40521f;
}


/* Galeri */
.galeri-section {
    margin-top: -80px;/* tarik ke atas */
    padding: 120px 0 80px;
    background: linear-gradient(to bottom,
            #457431 0%,
            #AABD85 40%,
            #EBECE6 75%,
            #F9F8F2 100%);
}

.judul-galeri {
    color: white;
    font-weight: bold;
    font-size: 40px;     /* memperbesar ukuran teks */
    text-align: center;  /* membuat teks di tengah */
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.galeri-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.galeri-item {
    overflow: hidden;
    border-radius: 12px;
}

.galeri-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: 0.4s; */
}

.galeri-item:hover img {
    transform: scale(1.08);
}

/* ukuran berbeda seperti desain */
.besar {
    grid-column: span 2;
    height: 250px;
}

.tinggi {
    grid-row: span 2;
    height: 520px;
}

.lebar {
    grid-column: span 2;
    height: 200px;
}

.galeri-item:not(.besar):not(.tinggi):not(.lebar) {
    height: 240px;
}